[Unit]
Description=Snips Led Control
Wants=mosquitto.service snips-audio-server.service
After=mosquitto.service snips-audio-server.service

[Service]
WorkingDirectory=%WORKING_DIR%
ExecStart=%EXECSTART%
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target