[Unit]
Description=Snips Led Control
Wants=mosquitto.service snips-audio-server.service
After=mosquitto.service snips-audio-server.service

[Service]
ExecStart=/usr/bin/python main.py
WorkingDirectory=/home/pi/snipsLedControl_v1.3
Restart=always
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target
